In [1]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt

In [3]:
df = pd.read_json('../Data/modcloth/modcloth_final_data.json', lines=True)
df

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text
0,123373,29.0,7,5.0,d,38.0,34.0,new,36,5ft 6in,Emily,just right,small,991571,NaN,NaN,NaN,NaN
1,123373,31.0,13,3.0,b,30.0,36.0,new,NaN,5ft 2in,sydneybraden2001,just right,small,587883,NaN,NaN,NaN,NaN
2,123373,30.0,7,2.0,b,NaN,32.0,new,NaN,5ft 7in,Ugggh,slightly long,small,395665,9.0,NaN,NaN,NaN
3,123373,NaN,21,5.0,dd/e,NaN,NaN,new,NaN,NaN,alexmeyer626,just right,fit,875643,NaN,NaN,NaN,NaN
4,123373,NaN,18,5.0,b,NaN,36.0,new,NaN,5ft 2in,dberrones1,slightly long,small,944840,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82785,807722,NaN,8,4.0,b,NaN,36.0,outerwear,NaN,5ft 8in,Jennifer,just right,fit,727820,8.5,average,Cute jacket!,Cute jacket!
82786,807722,NaN,12,5.0,ddd/f,NaN,34.0,outerwear,NaN,5ft 5in,Kelli,slightly long,small,197040,NaN,NaN,It's a beautiful jacket.,It's a beautiful jacket. I love how it's knit ...
82787,807722,NaN,12,5.0,dddd/g,36.0,32.0,outerwear,NaN,5ft 4in,elacount,just right,fit,102493,NaN,NaN,I love this blazer. It is,I love this blazer. It is a great office piece...
82788,807722,NaN,12,4.0,NaN,NaN,NaN,outerwear,NaN,5ft 3in,jennaklinner,just right,fit,756491,NaN,NaN,I love this blazer!! I wo,I love this blazer!! I wore it yesterday and g...
82789,807722,NaN,4,4.0,d,39.0,32.0,outerwear,NaN,6ft,maireadsteadman,just right,fit,78305,NaN,NaN,I love this piece. I'm re,I love this piece. I'm really happy with it!

In [4]:
df.loc[df["review_text"].isnull() == 0]

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text
6725,152702,27.0,4,4.0,b,37.0,32.0,new,NaN,5ft 6in,avNYC,just right,small,668176,9.0,average,Too much ruching,"I liked the color, the silhouette, and the fab..."
6726,152702,26.0,4,5.0,c,36.0,34.0,new,NaN,5ft 6in,lanwei91,slightly short,fit,320759,7.5,NaN,Suits my body type!,From the other reviews it seems like this dres...
6727,152702,NaN,4,3.0,a,NaN,34.0,new,NaN,5ft 3in,angeladevoe5678,just right,fit,144785,NaN,NaN,I love the design and fit,I love the design and fit of this dress! I wo...
6728,152702,25.0,4,3.0,c,35.0,32.0,new,NaN,5ft 1in,Juli,slightly long,fit,52664,NaN,NaN,Beautiful Dress!,I bought this dress for work it is flattering...
6729,152702,25.0,4,5.0,c,32.0,32.0,new,NaN,5ft 6in,lhalton,just right,fit,155439,NaN,NaN,This is a very profession,This is a very professional look. It is Great ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82785,807722,NaN,8,4.0,b,NaN,36.0,outerwear,NaN,5ft 8in,Jennifer,just right,fit,727820,8.5,average,Cute jacket!,Cute jacket!
82786,807722,NaN,12,5.0,ddd/f,NaN,34.0,outerwear,NaN,5ft 5in,Kelli,slightly long,small,197040,NaN,NaN,It's a beautiful jacket.,It's a beautiful jacket. I love how it's knit ...
82787,807722,NaN,12,5.0,dddd/g,36.0,32.0,outerwear,NaN,5ft 4in,elacount,just right,fit,102493,NaN,NaN,I love this blazer. It is,I love this blazer. It is a great office piece...
82788,807722,NaN,12,4.0,NaN,NaN,NaN,outerwear,NaN,5ft 3in,jennaklinner,just right,fit,756491,NaN,NaN,I love this blazer!! I wo,I love this blazer!! I wore it yesterday and g...
82789,807722,NaN,4,4.0,d,39.0,32.0,outerwear,NaN,6ft,maireadsteadman,just right,fit,78305,NaN,NaN,I love this piece. I'm re,I love this piece. I'm really happy with it!

In [20]:
df2 = df.loc[(df["category"] != "new") & (df["category"] != "wedding") & 
       (df["category"] != "sale")]
df2 = df2.loc[df["review_text"].isnull() == 0]
df2

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text
8490,159891,26.0,1,5.0,a,38.0,32.0,dresses,NaN,5ft 4in,Isabella,just right,fit,240386,NaN,NaN,This dress. Is so amazing,This dress. Is so amazing. It just arrived tod...
8491,159891,NaN,8,4.0,c,NaN,34.0,dresses,NaN,5ft 8in,Hillary,just right,fit,531304,NaN,NaN,Best dress I've purchased,Best dress I've purchased on this site! (and t...
8492,159891,NaN,8,5.0,b,NaN,32.0,dresses,NaN,5ft 2in,caitortot,just right,fit,460168,NaN,NaN,Lucky!,I managed to get this dress in my Stylish Surp...
8493,159891,31.0,8,3.0,d,41.0,36.0,dresses,NaN,5ft 2in,mercersg,just right,fit,439693,NaN,NaN,This dress looks great on,This dress looks great on. I'm a pretty curren...
8494,159891,NaN,12,3.0,dd/e,36.0,34.0,dresses,NaN,5ft 5in,Erin,just right,fit,479187,NaN,NaN,So adorable! The straps a,"So adorable! The straps are adjustable, which ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82785,807722,NaN,8,4.0,b,NaN,36.0,outerwear,NaN,5ft 8in,Jennifer,just right,fit,727820,8.5,average,Cute jacket!,Cute jacket!
82786,807722,NaN,12,5.0,ddd/f,NaN,34.0,outerwear,NaN,5ft 5in,Kelli,slightly long,small,197040,NaN,NaN,It's a beautiful jacket.,It's a beautiful jacket. I love how it's knit ...
82787,807722,NaN,12,5.0,dddd/g,36.0,32.0,outerwear,NaN,5ft 4in,elacount,just right,fit,102493,NaN,NaN,I love this blazer. It is,I love this blazer. It is a great office piece...
82788,807722,NaN,12,4.0,NaN,NaN,NaN,outerwear,NaN,5ft 3in,jennaklinner,just right,fit,756491,NaN,NaN,I love this blazer!! I wo,I love this blazer!! I wore it yesterday and g...
82789,807722,NaN,4,4.0,d,39.0,32.0,outerwear,NaN,6ft,maireadsteadman,just right,fit,78305,NaN,NaN,I love this piece. I'm re,I love this piece. I'm really happy with it!

In [21]:
def convert_to_inches(height):
    pattern = re.compile(r"(\d+)ft (\d+)in")  # Regular expression pattern to match feet and inches
    match = pattern.match(height)
    if match:
        feet = int(match.group(1))
        inches = int(match.group(2))
        total_inches = (feet * 12) + inches
        return total_inches
    else:
        return None

In [22]:
df2['height'] = df2['height'].astype(str)
df2['height_inches'] = df2['height'].apply(convert_to_inches)
df2.head()

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text,height_inches
8490,159891,26.0,1,5.0,a,38.0,32.0,dresses,NaN,5ft 4in,Isabella,just right,fit,240386,NaN,NaN,This dress. Is so amazing,This dress. Is so amazing. It just arrived tod...,64.0
8491,159891,NaN,8,4.0,c,NaN,34.0,dresses,NaN,5ft 8in,Hillary,just right,fit,531304,NaN,NaN,Best dress I've purchased,Best dress I've purchased on this site! (and t...,68.0
8492,159891,NaN,8,5.0,b,NaN,32.0,dresses,NaN,5ft 2in,caitortot,just right,fit,460168,NaN,NaN,Lucky!,I managed to get this dress in my Stylish Surp...,62.0
8493,159891,31.0,8,3.0,d,41.0,36.0,dresses,NaN,5ft 2in,mercersg,just right,fit,439693,NaN,NaN,This dress looks great on,This dress looks great on. I'm a pretty curren...,62.0
8494,159891,NaN,12,3.0,dd/e,36.0,34.0,dresses,NaN,5ft 5in,Erin,just right,fit,479187,NaN,NaN,So adorable! The straps a,"So adorable! The straps are adjustable, which ...",65.0

In [19]:
df_sub = df2[['waist','hips','bust','height_inches']].copy()
df_sub

       waist  hips bust  height_inches
8490    26.0  38.0  NaN           64.0
8491     NaN   NaN  NaN           68.0
8492     NaN   NaN  NaN           62.0
8493    31.0  41.0  NaN           62.0
8494     NaN  36.0  NaN           65.0
...      ...   ...  ...            ...
82785    NaN   NaN  NaN           68.0
82786    NaN   NaN  NaN           65.0
82787    NaN  36.0  NaN           64.0
82788    NaN   NaN  NaN           63.0
82789    NaN  39.0  NaN            NaN

[58501 rows x 4 columns]

In [18]:
df_sub2 = df2[['size']].copy()
df_sub2

       size
8490      1
8491      8
8492      8
8493      8
8494     12
...     ...
82785     8
82786    12
82787    12
82788    12
82789     4

[58501 rows x 1 columns]

In [13]:
plt